<h3>Categorias: </h3>
<hr>
{{#each categorys}}
    <div class="card">
        <div class="card-body">
            <a href="/category/{{slug}}"><h4>{{nome}}</h4></a>
        </div>
    </div>
{{else}}

{{/each}}